.container {
  margin: 5% auto;
  border: 1px solid transparent;
  background-color: #fff;
  width: 65%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.signInput {
  color: #4a4b4c;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 75%;
  height: 45px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
}

.signButton {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #1890ff;
  width: 55%;
  color: #1890ff;
  background-color: #fff;
  height: 45px;
  border-radius: 5px;
  margin: 20px auto;
}

.signButton:hover {
  background-color: #1890ff;
  color: #fff;
}
